<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/apple/IdeaProjects/JenkinsPractice">
        <classes>
            <class name="org.example.BrowserCommands">
                <methods>
                    <include name="verifyPageTitle"/>
                    <include name="verifyCurrentUrl"/>
                </methods>
            </class>
            <class name="org.example.RadioButton">
                <methods>
                    <include name="verifyRadioButtonisSelected"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>